<div class="form-group" style="width: 50%;"> 
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, :class => 'form-control form-inline' %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => 'form-control form-inline' %>
  </p>
  <p>
    <%= f.submit :class => 'btn btn-default'%>
  </p>
<% end %>
</div>